@import './variables', './mixins';

.container {
    text-align: center;

    .actions {
        background-color: $secondColor;
        padding: 20px;
        text-align: left;
        height: 90vh;


        h1 {
            color: $mainColor;
            font-family: 'Quicksand';
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
        }

        .action {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }

    }


}


@include media-md {
    .container {
         .actions {
            height: 100%;
            .action {
                grid-template-columns: 1fr;
            }
        }
    }
}
