@import './variables';

.logo {
    span {
        font-family: 'Montserrat';
        font-size: 20px;
        line-height: 24px;
        color: $mainColor;
        &:first-child {
            font-weight: 700;
            margin-right: 8px;
        }

        &:last-child {
            font-weight: 900;
        }
    }
}